{%load static%}

<!-- Featured Products -->

<div class="small-container">
    <h2 class="title">Featured Products</h2>
    <div class="row">
        {%for item in  featured_products%}
        <div class="col-4">
            <a href="{%url 'detail_product' item.id%}"><img src="{{item.image.url}}"></a>
            <h4>{{item.title}}</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>{{item.price}}</p>
        </div>
        {%endfor%}
    </div>

<!-- latest product -->
    <h2 class="title">Latest Products</h2>
    <div class="row">
        {%for item in latest_products%}
        <div class="col-4">
            <img src="{{item.image.url}}">
            <h4>{{item.title}}</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>${{item.price}}</p>
        </div>
        {%endfor%}
    </div>      
</div>
